In [17]:
import warnings
import os 
from os import makedirs, path as op
import matplotlib
import numpy as np
import seaborn as sns

import pandas as pd
import shapely
import folium
import json
import time
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing, svm
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import Lasso
from sklearn.linear_model import LassoCV
from numpy import arange
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
warnings.simplefilter(action='ignore')

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!ls "/content/drive/My Drive"

 A_Commune-Level_Groundwater_Potential_Map_for_the_.pdf
 All_SumData_ASWAN.csv
 AREA_FRACTIONS_NUTS1_NL.csv
 AREA_FRACTIONS_NUTS2_NL.csv
 CENTROIDS_NUTS2_NL.csv
'Class 2 evaluation-survey.gform'
'Colab Notebooks'
 DATA.CDE
'geonetwork_landcover_mli_gc_adg (1).zip'
'Getting started.pdf'
 IMG20220117093213.jpg
 IMG20220131080433.jpg
 IMG-20220203-WA0000.jpg
 Mahmoud2014_Article_IdentificationOfPotentialSites.pdf
'Mapping ground water Ghana.pdf'
 METEO_DAILY_NUTS2_NL.csv
 METEO_DEKADS_NUTS2_NL.csv
 MLforYieldForcasting
 notebooks
'prioritization of watersheds across mali using remote sensing data and gis tec.pdf'
'Promoting small scale irrigation across Mali.docx'
 REMOTE_SENSING_NUTS2_NL.csv
 Session%5_Regression.ipynb
 SOIL_NUTS2_NL.csv
'Water Resources Research - 2021 - Hulsman - Improving the Representation of Long‐Term Storage Variations With Conceptual.pdf'
 Water-wise_case_study_Mali.pdf
'West sahel irrigated and rainfed crop land-12-01436.pdf'
 WOFOST_NUTS2_NL.csv
 YIELD_NUTS0_NL.csv
 YIELD_NUTS2_NL.csv
 YIELD_PRED_MCYFS_NUTS0_NL.csv

In [19]:
ISMA = pd.read_csv('/content/drive/My Drive/All_SumData_ISMA.csv')
GIZA = pd.read_csv('/content/drive/My Drive/All_SumData_GIZA.csv')
SKHA = pd.read_csv('/content/drive/My Drive/All_SumData_SKHA.csv')
ASWAN = pd.read_csv('/content/drive/My Drive/All_SumData_ASWAN.csv')

In [ ]:
#from google.colab import files
#uploaded = files.upload()

Saving All_SumData_ISMA.csv to All_SumData_ISMA.csv

In [ ]:
#import io
#ISMA=pd.read_csv(io.BytesIO(uploaded['All_SumData_ISMA.csv']))

In [20]:
maize_df = pd.concat([ISMA,GIZA,SKHA,ASWAN],ignore_index=True)
maize_df.head()

,Trt,SiteName,Texture,OC,AWC,Yr,DOY,Irri,Cultivar,Till,Compost,TMAX,TMIN,SR,CO2,GY,ET,CO2e
0,1,EGSM9000,Sandy,0.46,65,1990,114,90,3.7,0,0,34.7,18.5,28.4,380,9611,788,92
1,1,EGSM9000,Sandy,0.46,65,1991,114,90,3.7,0,0,34.4,19.0,27.5,380,10561,753,97
2,1,EGSM9000,Sandy,0.46,65,1992,114,90,3.7,0,0,33.9,18.3,28.4,380,10243,781,95
3,1,EGSM9000,Sandy,0.46,65,1993,114,90,3.7,0,0,34.6,18.6,28.3,380,10807,780,90
4,1,EGSM9000,Sandy,0.46,65,1994,114,90,3.7,0,0,34.7,18.6,27.7,380,10783,787,89

In [21]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
maize_df['SiteName'] = enc.fit_transform(maize_df['SiteName'])
maize_df['Texture'] = enc.fit_transform(maize_df['Texture'])
maize_df['OC'] = enc.fit_transform(maize_df['OC'])
maize_df['AWC'] = enc.fit_transform(maize_df['AWC'])
#maize_df['Yr'] = enc.fit_transform(maize_df['Yr'])
maize_df['DOY'] = enc.fit_transform(maize_df['DOY'])
maize_df['Irri'] = enc.fit_transform(maize_df['Irri'])
maize_df['Cultivar'] = enc.fit_transform(maize_df['Cultivar'])
maize_df['Compost'] = enc.fit_transform(maize_df['Compost'])
maize_df['CO2'] = enc.fit_transform(maize_df['CO2'])
print(np.unique(maize_df['Yr']))
maize_df.head()

[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
 2018 2019 2020]

,Trt,SiteName,Texture,OC,AWC,Yr,DOY,Irri,Cultivar,Till,Compost,TMAX,TMIN,SR,CO2,GY,ET,CO2e
0,1,1,1,0,0,1990,0,3,0,0,0,34.7,18.5,28.4,0,9611,788,92
1,1,1,1,0,0,1991,0,3,0,0,0,34.4,19.0,27.5,0,10561,753,97
2,1,1,1,0,0,1992,0,3,0,0,0,33.9,18.3,28.4,0,10243,781,95
3,1,1,1,0,0,1993,0,3,0,0,0,34.6,18.6,28.3,0,10807,780,90
4,1,1,1,0,0,1994,0,3,0,0,0,34.7,18.6,27.7,0,10783,787,89

In [22]:
trainging_data = maize_df[maize_df['Yr'] < 2017]
testing_data = maize_df[maize_df['Yr'] >= 2017]

train_y = trainging_data['GY']
train_x = trainging_data.drop(['GY','Trt','SiteName','ET','CO2e'], axis=1,inplace=False)

test_y = testing_data['GY']
test_x = testing_data.drop(['GY','Trt','SiteName','ET','CO2e'], axis = 1, inplace=False)

scaler = MinMaxScaler()
train_x_scaled = scaler.fit_transform(train_x)
test_x_scaled = scaler.transform(test_x)

In [23]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
trans = MinMaxScaler()

scaler = MinMaxScaler()
train_x_scaled = scaler.fit_transform(train_x)
test_x_scaled = scaler.transform(test_x)

In [24]:
from sklearn.ensemble import RandomForestRegressor
base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)

base_model.fit(train_x_scaled,train_y)
ypred = base_model.predict(test_x_scaled)

In [25]:
from sklearn import metrics 
print("MSE:",metrics.mean_squared_error(test_y,ypred)) 
print("MAE:",metrics.mean_absolute_error(test_y,ypred)) 
print("RMSE:",np.sqrt(metrics.mean_squared_error(test_y,ypred))) 
print("r2_score:",metrics.r2_score(test_y,ypred))
print('rrmse:',np.sqrt(np.mean( (ypred-test_y)**2)) / (max(test_y)-min(test_y))*100)

MSE: 3284991.1254199413
MAE: 1183.7621879960318
RMSE: 1812.4544478192938
r2_score: 0.6964012905019438
rrmse: 10.96397343064118

In [26]:
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe

In [27]:
space = {
#    'bootstrap': hp.choice('bootstrap', ['True','Fasle']),
#    'criterion': hp.choice('criterion',['squared_error', 'absolute_error', 'poisson']),
    'max_depth': hp.uniform('max_depth', 5, 20), 
#    'max_features': hp.choice('max_features',[None ,'sqrt','log2']),
    'min_samples_leaf': hp.uniform('min_samples_leaf',   1, 5),
    'min_samples_split': hp.uniform('min_samples_split', 2, 6),
    'n_estimators': hp.uniform('n_estimators', 100, 500)
}

In [28]:
def objective(space):
    rf=RandomForestRegressor(
                    n_estimators = int(space['n_estimators']), max_depth = int(space['max_depth']),
                    min_samples_leaf = int(space['min_samples_leaf']),min_samples_split=int(space['min_samples_split']))
    
    rf.fit(train_x_scaled, train_y)
    

    #pred = xgbr.predict(test_x_scaled)
    cv = RepeatedKFold(n_splits=3, n_repeats=2, random_state = 1)
    scores = cross_val_score(rf, train_x_scaled, train_y, scoring= 'neg_root_mean_squared_error', cv=cv, n_jobs=-1)
    scores = np.absolute(scores)
    print("SCORE:", scores.mean())
    return {'loss': scores.mean(), 'status': STATUS_OK }

In [ ]:
trials = Trials()

best_hyperparams = fmin(fn = objective,
                        space = space,
                        algo = tpe.suggest,
                        max_evals = 20,
                        trials = trials)

SCORE:
985.2671406892788
SCORE:
1139.4200721936566
 10%|█         | 2/20 [1:36:11<15:02:30, 3008.34s/it, best loss: 985.2671406892788]

In [ ]:
function ClickConnect(){
    console.log("colab-toolbar-button"); 
    document.querySelector("connect-dropdown").click() 
}
setInterval(ClickConnect,60000)